fail_fast: true

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=2"
          - "--no-sort-keys"
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: trailing-whitespace
        exclude: '.bumpversion.cfg'
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: '23.12.0'
    hooks:
      - id: black

  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   # Ruff version.
  #   rev: 'v0.1.8'
  #   hooks:
  #     - id: ruff
  #       args: [--fix,--exclude=example]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: 'v1.7.1'
  #   hooks:
  #     - id: mypy
  #       exclude: |
  #         (?x)(
  #           tests|
  #           examples
  #         )
  #       disable_error_codes: ["attr-defined"]
  #       additional_dependencies: [types-requests==2.31.0.1]
